*{
	font-family: Comic Sans MS;
}


body{
	text-align: center;
	background-color: Yellow;
	border: solid;
	border-color: Red;
	}
.menu li{display: block;
	margin-right: 10px;
	display: inline;
	}
	.menu a:link {
		color: Red;
	}
	.menu a:visited{
		color: Red;
	}
	.menu a:hover{
		color: Red;
		background-color: Red;
	
	}
	
.menu {
	text-transform: uppercase;
	font-size: 30px;
	border: solid;
	border-color: Red;
	margin-top: 1px;
}
h1{
	color: Red;
	text-transform: uppercase;
	font-size: 50px;
	
	border: solid;
	border-color: Red;
}
h2{
	font-size: 40px;
	color: White;
	
}
p{
	font-size: 30px;
	color: White;
}